// Custom styles.
// // copy from themes/next/source/css/_colors.styl
// :root {
//       --body-bg-color: $body-bg-color-dark;
//       --content-bg-color: $content-bg-color-dark;
//       --card-bg-color: $card-bg-color-dark;
//       --text-color: $text-color-dark;
//       --link-color: $link-color-dark;
//       --link-hover-color: $link-hover-color-dark;
//       --brand-color: $brand-color-dark;
//       --brand-hover-color: $brand-hover-color-dark;
//       --table-row-odd-bg-color: $table-row-odd-bg-color-dark;
//       --table-row-hover-bg-color: $table-row-hover-bg-color-dark;
//       --menu-item-bg-color: $menu-item-bg-color-dark;
//     }

//     img {
//       opacity: .75;

//       &:hover {
//         opacity: 1;
//       }
//     }

// // $darkmode-background = #57606f
// // $darkmode-color      = #dfe4ea

// body{
//   background: #57606f;
//     // background:url(https://gitee.com/CosmosNing/MyPicGo/raw/master/images/bg.gif);
//     /*background-repeat: no-repeat;*/
//     // background-attachment: fixed;
//     /*background-size: 100% 100%*/
// }

@font-face {
    font-family: 'Noto Serif SC';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Noto Serif SC Light'), local('NotoSerifSC-Light'), url(/font/H4c8BXePl9DZ0Xe7gG9cyOj7mgq0SzUpCNMKEN0nmGnGv-OMEQDgKS-k5SiuioPhBdQcziZZTQ.4.woff2) format('woff2');
    unicode-range: U+1f1e9-1f1f5, U+1f1f7-1f1ff, U+1f21a, U+1f232, U+1f234-1f237, U+1f250-1f251, U+1f300, U+1f302-1f308, U+1f30a-1f311, U+1f315, U+1f319-1f320, U+1f324, U+1f327, U+1f32a, U+1f32c-1f32d, U+1f330-1f357, U+1f359-1f37e;
}


h1.site-title {
    font-size: 1.075em;
}

.footer{
  color: var(--text-color);
}

.footer a{
  color: var(--text-color);
}

.menu .menu-item .badge{
  background-color: #747d8c;
}

.sidebar-inner{
  color: #2f3542;
}

.btn{
  border-radius: 10px;
}

.posts-expand .post-tags a{
  margin: 10px 10px;
  padding: 0 14px;
  display: inline-block;
  height: 38px;
  min-width: 80px;
  line-height: 39px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
}
.posts-expand .post-tags  a:nth-child(4n+0){
  background-color: violet;
}

.posts-expand .post-tags  a:nth-child(4n+1){
  background-color: #00b894;
}

.posts-expand .post-tags  a:nth-child(4n+2){
  background-color: #ff7675;
}

.posts-expand .post-tags  a:nth-child(4n+3){
  background-color: #0984e3;
}

blockquote {
    border-left: 4px solid #e84393;
    color: var(--text-color);
    border-radius: 10px;
}

.posts-expand .post-body img{
  box-shadow: 0 5px 25px 0 rgba(0,0,0,.2), 0 10px 30px -11px rgba(0,0,0,.6);
  border-radius: 10px;
}
.category-list-item a{
  background: var(--card-bg-color);
  margin: 10px 10px;
  padding: 0 14px;
  display: inline-block;
  height: 38px;
  line-height: 39px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
  text-align: center;
}

.category-all-page .category-list-count {
    color: #2c3e50;
}

.tag-cloud a{
  margin: 10px 10px;
  padding: 0 14px;
  display: inline-block;
  height: 38px;
  line-height: 39px;
  border-radius: 5px;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
}

.tag-cloud a:hover {
    color: #dcdde1 !important;
}

.tag-cloud a:nth-child(7n+0){
  background: #70a1ff;
}

.tag-cloud a:nth-child(7n+1){
  background: #16a085;
}

.tag-cloud a:nth-child(7n+2){
  background: #f39c12;
}

.tag-cloud a:nth-child(7n+3){
  background: #27ae60;
}

.tag-cloud a:nth-child(7n+4){
  background: #fc5c65;
}

.tag-cloud a:nth-child(7n+5){
  background: #9c88ff; 
}

.tag-cloud a:nth-child(7n+6){
  background: #ff4757;
}

.back-to-top{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  // background: $darkmode-background;
  // color: $darkmode-color;
}

// .header-inner {
//   border-radius: 20px;
// }

// .sidebar {
//   border-radius: 20px;
// }

// .sidebar-inner {
//   border-radius: 20px;
//   color: var(--text-color);
// }

.post-block{
  border-radius: 20px !important;
  // background: $darkmode-background;
  // color: $darkmode-color;
}

.pagination {
  border-radius: 20px !important;
}

.comments {
  border-radius: 20px !important;
}

// // personlize code highlight theme

// $cosmosning-background   = #1d1f21
// $cosmosning-current-line = #282a2e
// $cosmosning-selection    = #373b41
// $cosmosning-foreground   = #c5c8c6
// $cosmosning-comment      = #74b9ff
// $cosmosning-red          = #ff4757
// $cosmosning-orange       = #eccc68
// $cosmosning-yellow       = #e7c547
// $cosmosning-green        = #2ed573
// $cosmosning-aqua         = #7bed9f
// $cosmosning-blue         = #1e90ff
// $cosmosning-purple       = #e84393
// $cosmosning-gutter       = {
//     color: lighten($cosmosning-background, 50%),
//     bg-color: darken($cosmosning-background, 100%)
// }

// $cosmosning-deletion     = #008000
// $cosmosning-addition     = #800000

// // Placeholder: $code-block
// $code-block {
//   overflow: auto;
//   margin: 20px 0;
//   padding: 0;
//   font-size $code-font-size;
//   color: $cosmosning-foreground;
//   background: $cosmosning-background;
//   line-height: $line-height-code-block;
// }

// pre, code { font-family: $code-font-family; }

// code {
//   padding: 2px 4px;
//   word-wrap: break-word;
//   color: $code-foreground;
//   background: $code-background;
//   border-radius: $code-border-radius;
//   font-size: $code-font-size;
// }

// pre {
//   @extend $code-block;
//   padding: 10px;
//   code {
//     padding: 0;
//     color: $cosmosning-foreground;
//     background: none;
//     text-shadow: none;
//   }
// }

// .highlight {
//   @extend $code-block;
//   // Read values from NexT config and set they as local variables to use as string variables (in any CSS section). 
//   hexo-config('codeblock.border_radius') is a 'unit' ? (cbradius = unit(hexo-config('codeblock.border_radius'), px)) : (cbradius = 1px) 
//   border-radius: cbradius;

//   pre {
//     border: none;
//     margin: 0;
//     padding: 10px 0;
//   }

//   table {
//     margin: 0;
//     width: auto;
//     border: none;
//   }

//   td {
//     border: none;
//     padding: 0;
//   }

//   figcaption {
//     clearfix();
//     font-size: 1em;
//     color: $cosmosning-foreground;
//     line-height: 1em;
//     margin-bottom: 1em;
//     margin: 0em;
//     padding: 0.5em;
//     background: $code-background;
//     border-bottom: 1px solid #e9e9e9;

//     a {
//       float: right;
//       color: $cosmosning-foreground;

//       &:hover { border-bottom-color: $cosmosning-foreground; }
//     }
//   }

//   .gutter pre {
//     padding-left: 10px
//     padding-right: 10px
//     color: $cosmosning-gutter.color
//     text-align: right
//     background-color: $cosmosning-gutter.bg-color
//   }

//   .code pre {
//     width: 100%
//     padding-left: 10px
//     padding-right: 10px
//     background-color: $cosmosning-background
//   }

//   .line { height: 20px; }
// }


// .gutter {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .gist table {
//   width: auto;

//   td { border: none; }
// }

// // For diff highlight
// pre .deletion { background: $cosmosning-deletion; }
// pre .addition { background: $cosmosning-addition; }
// pre .meta     { color: $cosmosning-purple; }

// pre {

//   .comment { color: $cosmosning-comment; }

//   .variable
//   .attribute
//   .tag
//   .regexp
//   .ruby .constant
//   .xml .tag .title
//   .xml .pi
//   .xml .doctype
//   .html .doctype
//   .css .id
//   .css .class
//   .css .pseudo {
//     color: $cosmosning-red;
//   }

//   .number
//   .preprocessor
//   .built_in
//   .literal
//   .params
//   .constant
//   .command {
//     color: $cosmosning-orange;
//   }

//   .ruby .class .title
//   .css .rules .attribute
//   .string
//   .value
//   .inheritance
//   .header
//   .ruby .symbol
//   .xml .cdata
//   .special
//   .number
//   .formula {
//     color: $cosmosning-green;
//   }

//   .title
//   .css .hexcolor {
//     color: $cosmosning-aqua;
//   }

//   .function
//   .python .decorator
//   .python .title
//   .ruby .function .title
//   .ruby .title .keyword
//   .perl .sub
//   .javascript .title
//   .coffeescript .title {
//     color: $cosmosning-blue;
//   }

//   .keyword
//   .javascript .function {
//     color: $cosmosning-purple;
//   }

// }

// // minor change

// .highlight .gutter pre{
//   background: #1d1f21;
// }

code{
  background-color: #6952b6;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  padding: 5px 7px 2px 7px
}

// // for html + css highlight
// span.tag{
//   color: #997;
// }

// span.name{
//   color: #7DF46A;
// }

// span.attr {
//     color: #7575E4;
// }

// span.string {
//     color: #D26B6B;
// }

// span.attribute {
//     color: #7575e4;
// }

// span.selector-class {
//     color: #7DF46A;
// }

// .at4-share-title {
//     color: white;
//     background: black
// }

// post meta

i.far.fa-calendar {
    color: #70a1ff;
}

i.far.fa-calendar-check {
    color: #ff6b81;
}

i.far.fa-folder {
    color: #2ed573;
}

i.far.fa-eye {
    color: #ffa502;
}

i.far.fa-file-word {
    color: #ff7f50;
}

i.far.fa-clock {
    color: #ff4757;
}


//titles

.post-body h1{
    // border-bottom-right-radius: 30px;
    // border-right-style: groove;
    // background: #3742fa;
    border-left: 6px solid #3742fa;
    border-radius: 10px;
    // max-width: fit-content;
    padding: 10px;
}

.post-body h2{
    // border-bottom-right-radius: 25px;
    // border-right-style: groove;
    // background: #ff4757;
    border-left: 6px solid #ff4757;
    border-radius: 8px;
    // max-width: fit-content;
    padding: 8px;
}

.post-body h3{
    // border-bottom-right-radius: 20px;
    // border-right-style: groove;
    // background: #e84393;
    // max-width: fit-content;
    border-left: 4px solid #e84393;
    border-radius: 6px;
    padding: 6px;
}

.post-body h4{
    // border-bottom-right-radius: 15px;
    // border-right-style: groove;
    // background: #16a085;
    // max-width: fit-content;
    border-left: 4px solid #16a085;
    border-radius: 4px;
    padding: 4px;
}

.post-body h5{
    // border-bottom-right-radius: 10px;
    // border-right-style: groove;
    // background: #ff6348;
    // max-width: fit-content;
    border-left: 2px solid #ff6348;
    border-radius: 2px;
    padding: 2px;
}

.post-body h6{
    // border-bottom-right-radius: 5px;
    // border-right-style: groove;
    // background: #1e90ff;
    // max-width: fit-content;
    border-left: 2px solid #1e90ff;
    border-radius: 2px;
    padding: 2px;
}

// menu

i.fa.fa-fw.fa-home {
    color: #ffa502;
}

i.fa.fa-fw.fa-archive {
    color: #2ed573;
}

i.fa.fa-fw.fa-user {
    color: #ff6348;
}

i.fa.fa-fw.fa-tags {
    color: #1e90ff;
}

i.fa.fa-fw.fa-th {
    color: #e84393;
}

i.fa.fa-search.fa-fw {
    color: #3742fa;
}

// footer
i.fa.fa-user {
    color: #ff6348;
}

i.fa.fa-eye {
    color: #eccc68;
}

// links

i.fab.fa-github.fa-fw {
    color: #e84393;
}

i.fab.fa-linkedin.fa-fw {
    color: #70a1ff;
}

i.fa.fa-fw.fa-envelope {
    color: #ff4757;
}

i.fa.fa-fw.fa-rss {
    color: #ffa502;
}

i.fab.fa-steam.fa-fw {
    color: #2ed573;
}

.note-title {
    text-align: center;
    font-size: large;
    font-weight: bolder
}

.img-credit{
    font-size: smaller;
    text-align: center;
    margin-bottom: 30px;
}

.image-caption{
    margin: 20px auto 15px !important;
}

.pace .pace-progress:before {
  color: #1d1d1d !important;
}


figcaption {
    font-size: smaller;
    text-align: center;
}