// Custom styles.

@font-face {
    font-family: 'Noto Serif SC';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Noto Serif SC Light'), local('NotoSerifSC-Light'), url(/font/H4c8BXePl9DZ0Xe7gG9cyOj7mgq0SzUpCNMKEN0nmGnGv-OMEQDgKS-k5SiuioPhBdQcziZZTQ.4.woff2) format('woff2');
    unicode-range: U+1f1e9-1f1f5, U+1f1f7-1f1ff, U+1f21a, U+1f232, U+1f234-1f237, U+1f250-1f251, U+1f300, U+1f302-1f308, U+1f30a-1f311, U+1f315, U+1f319-1f320, U+1f324, U+1f327, U+1f32a, U+1f32c-1f32d, U+1f330-1f357, U+1f359-1f37e;
}


h1.site-title {
    font-size: 1.075em;
}

.footer{
  color: var(--text-color);
}

.footer a{
  color: var(--text-color);
}

.menu .menu-item .badge{
  background-color: #747d8c;
}

.sidebar-inner{
  color: #2f3542;
}

.btn{
  border-radius: 10px;
}

.posts-expand .post-tags a{
  margin: 10px 10px;
  padding: 0 14px;
  display: inline-block;
  height: 38px;
  min-width: 80px;
  line-height: 39px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
}
.posts-expand .post-tags  a:nth-child(4n+0){
  background-color: violet;
}

.posts-expand .post-tags  a:nth-child(4n+1){
  background-color: #00b894;
}

.posts-expand .post-tags  a:nth-child(4n+2){
  background-color: #ff7675;
}

.posts-expand .post-tags  a:nth-child(4n+3){
  background-color: #0984e3;
}

blockquote {
    border-left: 4px solid #e84393;
    color: var(--text-color);
    border-radius: 10px;
}

.posts-expand .post-body img{
  box-shadow: 0 5px 25px 0 rgba(0,0,0,.2), 0 10px 30px -11px rgba(0,0,0,.6);
  border-radius: 10px;
}
.category-list-item a{
  background: var(--card-bg-color);
  margin: 10px 10px;
  padding: 0 14px;
  display: inline-block;
  height: 38px;
  line-height: 39px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
  text-align: center;
}

.category-all-page .category-list-count {
    color: #2c3e50;
}

.tag-cloud a{
  margin: 10px 10px;
  padding: 0 14px;
  display: inline-block;
  height: 38px;
  line-height: 39px;
  border-radius: 5px;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
}

.tag-cloud a:hover {
    color: #dcdde1 !important;
}

.back-to-top{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.post-block{
  border-radius: 20px !important;
}

.pagination {
  border-radius: 20px !important;
}

.comments {
  border-radius: 20px !important;
}

code{
  background-color: #6952b6;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  padding: 5px 7px 2px 7px
}

// post meta

i.far.fa-calendar {
    color: #70a1ff;
}

i.far.fa-calendar-check {
    color: #ff6b81;
}

i.far.fa-folder {
    color: #2ed573;
}

i.far.fa-eye {
    color: #ffa502;
}

i.far.fa-file-word {
    color: #ff7f50;
}

i.far.fa-clock {
    color: #ff4757;
}


//titles

.post-body h1{
    border-left: 6px solid #3742fa;
    border-radius: 10px;
    padding: 10px;
}

.post-body h2{
    border-left: 6px solid #ff4757;
    border-radius: 8px;
    padding: 8px;
}

.post-body h3{
    border-left: 4px solid #e84393;
    border-radius: 6px;
    padding: 6px;
}

.post-body h4{
    border-left: 4px solid #16a085;
    border-radius: 4px;
    padding: 4px;
}

.post-body h5{
    border-left: 2px solid #ff6348;
    border-radius: 2px;
    padding: 2px;
}

.post-body h6{
    border-left: 2px solid #1e90ff;
    border-radius: 2px;
    padding: 2px;
}

// menu

i.fa.fa-fw.fa-home {
    color: #ffa502;
}

i.fa.fa-fw.fa-archive {
    color: #2ed573;
}

i.fa.fa-fw.fa-user {
    color: #ff6348;
}

i.fa.fa-fw.fa-tags {
    color: #1e90ff;
}

i.fa.fa-fw.fa-th {
    color: #e84393;
}

i.fa.fa-search.fa-fw {
    color: #3742fa;
}

// footer
i.fa.fa-user {
    color: #ff6348;
}

i.fa.fa-eye {
    color: #eccc68;
}

// links

i.fab.fa-linkedin.fa-fw {
    color: #70a1ff;
}

i.fa.fa-fw.fa-envelope {
    color: #209de3;
}

i.fab.fa-steam.fa-fw {
    color: #1b74a7;
}

i.fab.fa-weixin.fa-fw {
  color: #1aad19;
}

.note-title {
    text-align: center;
    font-size: large;
    font-weight: bolder
}

.img-credit{
    font-size: smaller;
    text-align: center;
    margin-bottom: 30px;
}

.image-caption{
    margin: 20px auto 15px !important;
}

.pace .pace-progress:before {
  color: #1d1d1d !important;
}


figcaption {
    font-size: smaller;
    text-align: center;
}